.layout {
    display: grid;
    grid-template-columns: 240px 576px 990px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .layout__right-sidebar {
    position: fixed;
    width: 350px;
  }
  